<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Look for mock interviewers</h2>
      <hr>
      <div class="clearfix"></div>

        <form class="form-search" onsubmit="return search();">
					<label class="query" for="query_term">
						<img alt="Icon-search" height="14" src="http://assets2.grouponcdn.com/images/icons/icon-search.png?RnKF9uZ7" width="14">
					</label>
            <label for="query_job">Interviewing For:</label>
  					<input id="query_job" type="text" class="input-just search-query" placeholder="Google, Facebook, Amazon">
 					<button type="submit" class="btn">Search</button>
				</form>

    </div>
  </div>
  <hr>
  <footer>
    <p>Developed by Don Yu & Jon Jia at Columbia's 2013 DevFest</p>
  </footer>
</div>