<br/>
<br/>
<br/>
<div class="container"> 
	<h1 id="pricing-title">Pricing Plans for Company Partners</h1></br>
	<div class="row" id="pricing-row">
	    <div class="col-xs-12 col-md-4">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <h3 class="panel-title">
	                    Bootstrap</h3>
	            </div>
	            <div class="panel-body">
	                <div class="the-price">
	                    <h1>FREE</h1>
	                    <small>Perfect for non-funded startups</small>
	                </div>
	                <table class="table">
	                    <tr>
	                        <td>
	                            1 Active Job Posting
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Company is Searchable by Coders
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            Access to Seamless Interview Experience
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Weekly Reports
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                        	<br/><br/>
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                        	<br/>
	                        </td>
	                    </tr>
	                </table>
	            </div>
	            <div class="panel-footer">
	                <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a><br/>
	                Always Free</div>
	        </div>
	    </div>
	    <div class="col-xs-12 col-md-4">
	        <div class="panel panel-success">
	            <div class="cnrflash">
	                <div class="cnrflash-inner">
	                    <span class="cnrflash-label">MOST
	                        <br>
	                        POPULAR</span>
	                </div>
	            </div>
	            <div class="panel-heading">
	                <h3 class="panel-title">
	                    Startup</h3>
	            </div>
	            <div class="panel-body">
	                <div class="the-price">
	                    <h1>
	                        $50<span class="subscript">/mo</span></h1>
	                    <small>1 month FREE trial</small>
	                </div>
	                <table class="table">
	                    <tr>
	                        <td>
	                            5 Active Job Postings
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Company is Searchable by Coders
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            Access to Seamless Interview Experience
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Weekly Reports
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            Job Postings will be recommended to relevant Coders
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                        	30 Candidate Outreach Messages a Month
	                        </td>
	                    </tr>
	                </table>
	            </div>
	            <div class="panel-footer">
	                <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a><br/>
	                1 month FREE trial</div>
	        </div>
	    </div>
	    <div class="col-xs-12 col-md-4">
	        <div class="panel panel-info">
	            <div class="panel-heading">
	                <h3 class="panel-title">
	                    Corporate</h3>
	            </div>
	            <div class="panel-body">
	                <div class="the-price">
	                    <h1>
	                        $200<span class="subscript">/mo</span></h1>
	                    <small>1 month FREE trial</small>
	                </div>
	                <table class="table">
	                    <tr>
	                        <td>
	                            Unlimited Active Job Postings
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Company is Searchable by Coders
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            Access to Seamless Interview Experience
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
	                            Weekly Reports
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                            Job Postings will be recommended to relevant Coders
	                        </td>
	                    </tr>
	                    <tr class="active">
	                        <td>
								Unlimited Candidate Outreach Messages
	                        </td>
	                    </tr>
	                </table>
	            </div>
	            <div class="panel-footer">
	                <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up</a><br/> 1 month FREE trial</div>
	        </div>
	    </div>
	</div>

	<hr>
	<footer>
	  <p>Developed by Don Yu & Jon Jia at Columbia's 2013 DevFest</p>
	</footer>
</div>